extends _layout

block content
	.container
		h1 Search Results
		//- p: a(href="/") 
		ul#searchresult.list-unstyled
			//- for dataFromServer in Person
			li name #{contact.name.firstName } + #{contact.name.lastName }
				li Age: #{contact.age.age}
				li Have Children: #{contact.details.hasChildren}
				li Have Pets: #{contact.pets.pets}
				li Served in Military: #{contact.details.militaryService}		
				//- 		//- a.btn.btn-primary.view(href="/#{job._id}") details
						
